/* You can add global styles to this file, and also import other style files */
$baseFontSize: 16px;
$navBarHeight: 45px;

@mixin dice($color) {
  background: $color no-repeat;
  background-size: 4px;
  border: 2px solid darken($color, 5%);
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  height: 13px;
  width: 13px;
  margin: 0 3px;
}

@font-face {
  font-family: GaraDesc;
  src: url('/assets/Gara_Scenario_Desc.ttf');
  font-weight: bold;
}

@font-face {
  font-family: BlackMoor;
  src: url('/assets/Blackmoor.ttf');
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  font: $baseFontSize GaraDesc;
}

body, html {
  margin: 0;
  background: #e6ecf0;
}

.only-sr {
  display: none;
}

.nav, .nav__header, .nav__items {
  color: #efeee5;
}

.nav {
  width: 100%;
  height: $navBarHeight;
  position: relative;
  background-color: #2b354d;
}

.nav__items {
  position: absolute;
  top: 0;
  left: 0;
  height: $navBarHeight;
  margin: 0;
  padding: 0;

  li {
    cursor: pointer;
    box-sizing: border-box;
    list-style: none;
    display: inline-block;
    height: 45px;
    padding: 17px 10px 0 10px;
  }
  li:hover, li:focus, .nav--active {
    outline: none;
    background-color: #162337;
  }
}

.container {
  overflow: scroll;
  height: calc(100vh - #{$navBarHeight});
}

.nav__header {
  position: absolute;
  top: 17px;
  right: 10px;
}

.home {
  padding: 10px;
  text-align: center;

  h1 small {
    display: block;
    font-size: small;
  }
}

.card {
  margin: 5px auto 20px auto;
  position: relative;
  text-align: center;
  width: 233px;
  height: 345px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #d9c991;

  h1 {
    position: absolute;
    top: -53px;
    right: 9px;
    box-sizing: border-box;
    padding: 6px 4px 4px 4px;
    display: block;
    font-variant: small-caps;
    width: calc(100% - 18px);
    background-color: #b5a48e;
    font-size: 18px;
    border: 3px solid #a1a28f;
    box-shadow: 0 120px 150px rgba(255, 255, 255, 0.9);
  }

  p {
    line-height: 1.3rem;
    padding: 0 10px 0 10px;
  }

  p:last-of-type {
    padding-bottom: 30px;
  }
}

.skills .card {
  border: 15px solid #601911;
  border-top-width: 50px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.4);
}

.items .card {
  border: 15px solid #794c39;
  border-top-width: 150px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.4);

  h1 {
    top: -150px;
  }

  p:first-of-type {
    margin-top: 5px;
  }
}

.card__fatigue-cost,
.card__xp-cost,
.card__item-cost,
.card__dices {
  display: block;
  font-family: BlackMoor;
  font-weight: 700;
  position: absolute;
  box-sizing: border-box;
}

.card__item-cost {
  top: -72px;
  right: -10px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  padding-top: 9px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid #3f290a;
  background-color: #d9c991;
}

.card__dices {
  left: 30px;
  right: 30px;
  height: 30px;
  border-radius: 15px;
  bottom: -10px;
  background-color: #cfcaae;
  border: 1px solid #3f290a;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow:
    inset 0 -5px 10px rgba(0, 0, 0, 0.2),
    0 -5px 20px rgba(0, 0, 0, 0.2);
}

.dice__gray {
  @include dice(#717173);
}

.dice__blue {
  @include dice(#768cac);
}

.dice__yellow {
  @include dice(#cbc51a);
}

.dice__red {
  @include dice(#c1372f);
}

.dice__brown {
  @include dice(#734930);
}

.dice__black {
  @include dice(#06050a);
}

.card__xp-cost {
  width: 20px;
  right: -3px;
  top: -32px;
  z-index: 10;
  color: #f2e0e1;
  border-radius: 10px;
  box-shadow: -1px -1px 4px rgba(254, 254, 254, 0.8),
    -1px -1px 0 #772d28;
  border: 2px solid #600e0e;
  background-color: #3a0505;
}

.card__fatigue-cost {
  background: url("/assets/fatigue.png") no-repeat;
  background-size: contain;
  height: 55px;
  width: 35px;
  padding-top: 10px;
  right: -5px;
  bottom: -15px;
  font-size: 25px;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    2px 2px 3px rgba(0,0,0,0.7);
}

.skill, .class, .item, .item__category {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.skill__header, .item__header, .class, .item__category {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  background: #d7dde1;
  box-sizing: border-box;
  padding-top: 15px;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.class:focus, .item__category:focus {
  outline: none;
}

.item__type {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -103px;
  left: 50px;
  &.armor {
    background-image: url('/assets/items/armor.svg');
  }
  &.hammer {
    background-image: url('/assets/items/hammer.svg');
  }
  &.shield {
    background-image: url('/assets/items/shield.svg');
  }
  &.bow {
    background-image: url('/assets/items/bow.svg');
  }
  &.axe {
    background-image: url('/assets/items/axe.svg');
  }
  &.staff {
    background-image: url('/assets/items/staff.svg');
  }
  &.blade {
    background-image: url('/assets/items/blade.svg');
  }
  &.rune {
    background-image: url('/assets/items/rune.svg');
  }
  &.other {
    background-image: url('/assets/items/ring.svg');
  }
}
.card__range-type {
  position: absolute;
  top: -65px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 3px solid #3f290a;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.2);

  &.range {
    background: #165912 url('/assets/items/bow.svg');
    background-size: cover;
  }
  &.melee {
    background: #bf110d url('/assets/items/axe.svg');
    background-size: cover;
  }
}
